body {
    background-color: black;
    color: #00ff99;
    font-family: monospace;
    text-align: center;
}

.boot-screen {
    margin-top: 20%;
}

.create-player {
    margin-top: 20%;
}

input {
    padding: 8px;
    font-size: 16px;
}

button {
    padding: 8px 16px;
    cursor: pointer;
}